<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andy Mineo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
</head>
<body style="background: linear-gradient(to bottom, #003973, #e5e5be);">
    <!-- logo -->
    <div class="img-container center">
        <img src="../assets/images/andy.gif" alt="" class="img">
    </div>
    <!-- video -->
    <div class="video-container center">
        <iframe width="800" height="450" class="video-border"
        src="https://www.youtube.com/embed/6Jgtf3MfuVQ" allowfullscreen>
        </iframe>
    </div>
    <div class="button-container center">
        <div class="btn-group">
            <button id="btn" class="button1 btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LISTEN HERE</button>
            <div class="dropdown-menu dropdown-menu1">
                <a style="color: red" class="dropdown-item" href="https://andymineo.lnk.to/alwaysinarush">LINKFIRE</a>
            </div>
        </div>
        <div class="btn-group">
            <button id="btn" class="button2 btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MORE MUSIC</button>
            <div class="dropdown-menu dropdown-menu2">
                <a style="color: #ec6f66" class="dropdown-item" href="herman-miller.html">HERMAN MILLER</a>
                <a style="color: #c4a300" class="dropdown-item" href="shibuya-roll-call.html">SHIBUYA ROLL CALL</a>
                <a style="color: #3ca55c" class="dropdown-item" href="jackson-pollock.html">JACKSON POLLOCK</a>
                <a style="color: #6e6cd1" class="dropdown-item" href="jp-tiktok-remix.html">JP TIKTOK REMIX</a>
            </div>
        </div>
        <div class="btn-group">
            <button id="btn" class="button3 btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FOLLOW ANDY</button>
            <div class="dropdown-menu dropdown-menu3">
                <a style="color: red" class="dropdown-item" href="https://instagram.com/andymineo">INSTAGRAM</a>
                <a style="color: blue" class="dropdown-item" href="https://www.facebook.com/andymineo">FACEBOOK</a>
                <a style="color: rgb(0, 153, 255)" class="dropdown-item" href="https://twitter.com/andymineo">TWITTER</a>
                <a style="color: rgb(132, 0, 255)" class="dropdown-item" href="https://www.tiktok.com/@therealandymineo">TIKTOK</a>
                <a style="color: rgb(20, 172, 0)" class="dropdown-item" href="https://www.cameo.com/andymineo">CAMEO</a>
            </div>
        </div>
        <div class="btn-group">
            <button id="btn" class="button4 btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CONTACT ANDY</button>
            <div class="dropdown-menu dropdown-menu4">
                <a style="color:blue" class="dropdown-item" href="#">BOOKINGS</a>
                <a style="color: goldenrod" class="dropdown-item" href="#">PHONE</a>
                <a style="color: red" class="dropdown-item" href="#">EMAIL</a>
            </div>
        </div>
    </div>
    <div class="text-container">
        <div class="grid1">
            <img class="bottle" src="../assets/images/bottle.png" alt="">
            <img class="tshirt" src="../assets/images/tshirt.png" alt="">
        </div>
        <div class="grid2">
            <p class="text">BLACK FRIDAY <br> SALE <br> UP TO 50% OFF</p>
        </div>
        <div class="grid3">
            <img class="minor" src="../assets/images/minor.png" alt="">
            <img class="hoodie" src="../assets/images/hoodie.png" alt="">
        </div>
    </div>
    <div class="button-container2 center">
        <a href="https://minerleague.store">
            <button id="btn" class="btn btn-light btn-sm" aria-haspopup="true" aria-expanded="false">MERCH STORE</button>
        </a>
    </div>
    <div class="img2-container center">
        <img src="../assets/images/name.png" alt="" class="img2">
    </div>
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>